on:
  push:
    branches: ["**"]
 
jobs:
  build:
 
    runs-on: ubuntu-latest
 
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17.0.2
        uses: actions/setup-java@v1
        with:
          java-version: 17.0
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository  # Cache the Maven repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') 
      - name: Compile
        run: mvn -B -Pclean install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload AntiVPN
        uses: actions/upload-artifact@v2
        with:
          name: AntiVPN
          path: Assembly/target/Assembly-*.jar